zsh/.config/zsh/.histfile
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zhistory
scripts/bin/pcc-cluster
zsh/.config/zsh/package-lock.json
zsh/.config/zsh/secrets.zsh
zsh/.config/zsh/plugins
zsh/.config/zsh/amazon.zsh
